* {
    box-sizing: border-box;
}
body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button {
    border: none;
    color: #fff;
    background: rgb(197, 8, 42);
    padding: 10px 16px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}
.game {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center;
}
div .field {
    width: 100px;
    height: 100px;
	border: 1px solid black;
	text-align: center;
	font-size: 80px;
    align-items: center;
}
.result {
    color: rgb(128, 0, 38);
    font-weight: bold;
    font-size: 40px;
    font-family: Arial;
    height: 50px;
}
  
 
  